<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      For a guide and recipes on how to configure / customize this project,<br>
      check out the
      <a href="https://cli.vuejs.org" target="_blank" rel="noopener">vue-cli documentation</a>.
    </p>
    <h3>Installed CLI Plugins</h3>
    <ul>
      <li><a href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-babel" target="_blank"
          rel="noopener">babel</a></li>
      <li><a href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-eslint" target="_blank"
          rel="noopener">eslint</a></li>
    </ul>
    <h3>Essential Links</h3>
    <ul>
      <li><a href="https://vuejs.org" target="_blank" rel="noopener">Core Docs</a></li>
      <li><a href="https://forum.vuejs.org" target="_blank" rel="noopener">Forum</a></li>
      <li><a href="https://chat.vuejs.org" target="_blank" rel="noopener">Community Chat</a></li>
      <li><a href="https://twitter.com/vuejs" target="_blank" rel="noopener">Twitter</a></li>
      <li><a href="https://news.vuejs.org" target="_blank" rel="noopener">News</a></li>
    </ul>
    <h3>Ecosystem</h3>
    <ul>
      <li><a href="https://router.vuejs.org" target="_blank" rel="noopener">vue-router</a></li>
      <li><a href="https://vuex.vuejs.org" target="_blank" rel="noopener">vuex</a></li>
      <li><a href="https://github.com/vuejs/vue-devtools#vue-devtools" target="_blank" rel="noopener">vue-devtools</a>
      </li>
      <li><a href="https://vue-loader.vuejs.org" target="_blank" rel="noopener">vue-loader</a></li>
      <li><a href="https://github.com/vuejs/awesome-vue" target="_blank" rel="noopener">awesome-vue</a></li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'HelloWorld',
    props: {
      msg: String
    },
    data() {
      return {
        isLoad: true
      }
    },
    created() {
      // 方式1
      // if (this.isLoad) {
      //   let script = document.createElement('script')
      //   script.type = 'text/javascript'
      //   script.src = 'https://cdn.bootcdn.net/ajax/libs/cesium/1.83.0/Cesium.js'
      //   document.getElementsByTagName('head')[0].appendChild(script)
      //   script.onload = function () { console.log(window.Cesium) }
      // }
      // 方式2
      // var that = this//监听函数中的this不再指向组件本身，而是指向事件监听者,所以需要提前保存this指针
      // that.loadScript('https://cdn.bootcdn.net/ajax/libs/cesium/1.83.0/Cesium.js', function () {
      //   console.log('加载完成', window.Cesium)
      // })
      // let url = 'https://cdn.bootcdn.net/ajax/libs/cesium/1.83.0/Cesium.js'
      // this.app_script(url)
      this.test()
    },
    methods: {
      test() {
        let [a, b, c] = ['1', '2', '3']
        console.log(a, b, c)
        let arr = [{
          s: 1,
          name: '22'
        }, {
          s: 2,
          name: 'chen'
        },
        {
          s: 3,
          name: 'wen'
        }]
        let newArr = arr.map(item => {
          return {
            id: item.s,
            name: item.name
          }
        }, [])
        console.log(newArr)
        console.log("第二次")
      },
      loadScript(src, callback) {
        var script = document.createElement('script'),
          head = document.getElementsByTagName('head')[0];
        script.type = 'text/javascript';
        script.charset = 'UTF-8';
        script.src = src;
        if (script.addEventListener) {
          script.addEventListener('load', function () {
            callback();
          }, false);
        } else if (script.attachEvent) {
          script.attachEvent('onreadystatechange', function () {
            var target = window.event.srcElement;
            if (target.readyState == 'loaded') {
              callback();
            }
          });
        }
        head.appendChild(script);
      },
      /**
 * 获取页面上的所有script地址。来判断是否要加cdn地址
 * */
      app_script(url) {
        let scriptsArr = document.getElementsByTagName('script')
        let newArr = []
        //获取所有的script地址
        for (var i = 0; i < scriptsArr.length; i++) {
          newArr.push(scriptsArr[i].getAttribute('src', 4))
        }
        let isFirst = true //判断是否加载过这个script，有就不加载了
        let cdnUrl = url
        newArr.forEach(item => {
          if (item === cdnUrl) {
            isFirst = false
          }
        })
        if (isFirst) {
          // 创建script标签，引入外部文件
          let script = document.createElement('script')
          script.type = 'text/javascript'
          script.src = url
          document.getElementById('app').appendChild(script)
          script.onload = function () { console.log(window.Cesium) }
        }
      },
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>